{"default_project": "vervet", "projects": {"test": {"scratch_dir": "~/test_scratch", "lab_dir": "~/test_lab", "project_name": "vervetmonkey", "project_dir": "~/test_project"}, "vervet": {"scratch_dir": "~/vervet_scratch", "lab_dir": "~/vervet_lab", "project_name": "vervetmonkey", "project_dir": "~/vervet_project"}}}
